*{
	margin: 0;
	box-sizing:border-box;
}
body{
	background:url(noisy_net.png) repeat;
	height:100%;
	width: 100%;
	/*color: rgba(0,0,0,0);
	text-shadow:
	black 0 0 0,
	black 0 0 5px,
	black 15px 15px 5px;
	*/
}
h1{
	color:white;
	font:4em Georgia;
	font-weight:bold;
	text-align:center;
	text-shadow: 0 0 200px white;
}
h2 {
	color: white;
	font-family: Georgia
}
#enemy{
	float: left
}
#ally{
	float: right;
}
.pick{
	text-align:center;
	min-width:100%;
	display: inline-block;
	background: #232425;
	padding: 10px 5px
}
.pick > div {
	float: left;
	width: 127px;
	height: 71px;
	margin: 10px 40px;
	-webkit-box-shadow: inset 0px 0px 18px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 18px 6px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 18px 6px rgba(0,0,0,0.75);
}