*{
	margin: 0;
	box-sizing:border-box;
}
#fill{
	height: 54px;
}
body{
	background:url(noisy_net.png) repeat;
	height:100%;
	width: 100%;
	/*color: rgba(0,0,0,0);
	text-shadow:
	black 0 0 0,
	black 0 0 5px,
	black 15px 15px 5px;
	*/
}
h1,h2{
	color: white;
	font-family: Georgia
}
h1{
	font-size:4em;
	font-weight:bold;
	text-align:center;
	text-shadow: 0 0 200px white;
}
h2 {
  text-align: center;	
}
#heroes,#pick,h2{
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#pick > div,#heroes > table{display:inline-block;}
#heroes > table{
	margin-left: 20px;
}
#heroes img{
	height: 54px;
	border-radius: 3px;
	border: 2px solid ;
}
#str img{
	border-color: #53040D
}
#agi img{
	border-color: #397731
}
#heroes img:hover {
	-webkit-box-shadow: 0px 0px 42px 2px rgba(230,230,230,0.66);
	-moz-box-shadow: 0px 0px 42px 2px rgba(230,230,230,0.66);
	box-shadow: 0px 0px 42px 2px rgba(230,230,230,0.66);
}
#heroes td {
	padding: 7px;
}	
#pick {
    background: #232425;
    padding: 10px 5px;
}
#pick > div
{ 
    width: 127px;
	height: 71px;
	margin: 10px 40px;
	-webkit-box-shadow: inset 0px 0px 18px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 18px 6px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 18px 6px rgba(0,0,0,0.75);
}
.chzn-container{
font: 27px Helvetica;
}